### Node template
# Logs
logs
*.DS_Store
# Dependency directory

### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion

*.iml

## Directory-based project format:
.idea/

## node module
node_modules/